.vol_img{
    background-image: url(../images/volume.png);
}

.vol_pg2_img{
    background-image: url(../images/vol-2.png);
}

.vol_pg3_img{
    background-image: url(../images/vol-3.png);
}


.vol_bgcolor_bk{
    background-color: black;
}

.vol_section_title{
    color:white;
}

.gallery_bg li {
    background-color: rgb(201, 204, 211);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.03);
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.03); }